@import "tailwindcss";

/* --dark-bg: #171a21;
    --light-bg: #ececec; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100%;
    background-color: #ececec;
    color: black;
}