@import "tailwindcss";

/* Active dark class in tailwindcss */
@custom-variant dark (&:where(.dark, .dark *));

/* light-secondary-color: #f1f1f1;
dark-secondary-color: #0a0a0a;
light-border: border-gray-400 
dark-border:border-white/50 */

/* light theme */
@theme {
    --bg-color: white;
    --text-color: black;
}

/* dark theme */
.dark {
    --bg-color: black;
    --text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif, monospace;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* switch theme animations */
.sun {
    animation: switchThemeSun 0.5s linear;
}
@keyframes switchThemeSun {
    from {
        translate: 11px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

.moon {
    animation: switchThemeMoon 0.5s linear;
}
@keyframes switchThemeMoon {
    from {
        translate: -11px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}