@import "tailwindcss";

/* Active dark class in tailwindcss */
@custom-variant dark (&:where(.dark, .dark *));

/* light-secondary-color: #f1f1f1;
dark-secondary-color: #0a0a0a;
light-border: border-gray-400 
dark-border:border-white/50 */

/* light theme */
@theme {
    --bg-color: white;
    --text-color: black;
}

/* dark theme */
.dark {
    --bg-color: black;
    --text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: Inter, system-ui, sans-serif;
}
p {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

/* switch theme animations */
.sun {
    animation: switchThemeSun 0.5s linear;
}
@keyframes switchThemeSun {
    from {
        translate: 11px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}
.moon {
    animation: switchThemeMoon 0.5s linear;
}
@keyframes switchThemeMoon {
    from {
        translate: -11px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

/* blob animation */
.blob {
    animation: orbit 4.5s linear infinite;
    will-change: transform;
    transform-box: view-box;
    transform-origin: 200px 200px; 
}
@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }   
}

/* link buttons animation */
.link1, .link2, .link3, .link4 {
    animation: linksAnimation 1s linear;
}
.link1 {
    animation-delay: 0.5s;
}
.link2 {
    animation-delay: 1s;
}
.link3 {
    animation-delay: 1.5s;
}
.link4 {
    animation-delay: 2s;
}
@keyframes linksAnimation {
    from {
        translate: -5px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

/* Navbar buttons animation */
.navBtn1, .navBtn2, .navBtn3, .navBtn4, .navBtn5 {
    animation: navButtonsAnimation 0.5s ease-out both;
    will-change: translate, scale;
}
.navBtn1 {
    animation-delay: 1s;
}
.navBtn2 {
    animation-delay: 1.4s;
}
.navBtn3 {
    animation-delay: 1.8s;
}
.navBtn4 {
    animation-delay: 2.2s;
}
.navBtn5 {
    animation-delay: 2.6s;
}
@keyframes navButtonsAnimation {
    from {
        translate: 50px 0;
        scale: 0;
    }
    to {
        translate: 0 0;
        scale: 1;
    }
}

/* tech stack buttons animation */
.stackBtn {
    animation: stackButtonsAnimation 3s ease-out both;
    will-change: translate, opacity, scale;
}
@keyframes stackButtonsAnimation {
    from {
        translate: -40px 0;
        opacity: 0;
        scale: 0.3;
    }
    to {
        translate: 0 0;
        opacity: 1;
        scale: 1;
    }
}

/* about animation */
.aboutSection {
    animation: aboutAnimation 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes aboutAnimation {
from {
        opacity: 0.2;
        scale: 0.7;
        translate: 0 40px;
    } to {
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

/* experience section animations */
.internship{
    animation: internshipAnimation 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
@keyframes internshipAnimation{
    from {
        translate: -50px 0;
        opacity: 0.5;
    } to {
        translate: 0 0;
        opacity: 1;
    }
}
.opensource {
    animation: opensourceAnimation 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes opensourceAnimation{
    from {
        translate: 50px 0;
        opacity: 0.5;
    } to {
        translate: 0 0;
        opacity: 1;
    }
} 
.leetcode {
    animation: leetcodeAnimation 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
@keyframes leetcodeAnimation{
    from {
        translate: -50px 0;
        opacity: 0.5;
    } to {
        translate: 0 0;
        opacity: 1;
    }
} 

/* contact buttons circle animation */
.contactDiv {
    opacity: 0;
    scale: 0;
    transition: opacity 0.4s ease, transform 0.4s ease, scale 0.4s ease;
}
.contactDiv.active {
   opacity: 1;
   scale: 1;
}

/* contact button animation */
.contactBtn {
  position: absolute;
  opacity: 0;
  scale: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, translate 0.5s ease, scale 0.5s ease;
}
.contactBtn.active {
  opacity: 1;
  scale: 1;
  pointer-events: auto;
}
.btn1.active {
   translate: -70px -70px;
}
.btn2.active {
  translate: 0 -100px;
}
.btn3.active {
 translate: 70px -70px;
}

/* contact image styling */
.a {fill:#dbdbe3}
.d {fill-opacity:.63}
.b {
    stroke:#000000;
    stroke-linecap:round;
    stroke-linejoin:round
}
.c {fill:#fff}

/* conatct image animation */
.ghost {
    animation: ghostAnimation 3s ease-in-out infinite alternate;
    will-change: scale;
}
@keyframes ghostAnimation {
    from{
        scale: 1;
    }to{
        scale: 1.13;
    }
}

/* contact methods button animation */
.methods {
  position: absolute;
  opacity: 0;
  scale: 0;
  transition: opacity 0.6s ease, translate 0.6s ease, scale 0.6s ease;
}
.methods.clicked {
  opacity: 1;
  scale: 1;
  z-index: 10;
}
.method1.clicked {
   translate: -90px -110px;
}
.method2.clicked {
   translate: -120px 110px;
}
.method3.clicked {
   translate: 125px 75px;
}
.method4.clicked {
  translate: 90px -80px;
}