@import "tailwindcss";

/* Active dark class in tailwindcss */
@custom-variant dark (&:where(.dark, .dark *));

/* light-secondary-color: #f1f1f1;
dark-secondary-color: #0a0a0a;
light-border: border-gray-400 
dark-border:border-white/50 */

/* light theme */
@theme {
    --bg-color: white;
    --text-color: black;
}

/* dark theme */
.dark {
    --bg-color: black;
    --text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif, monospace;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* switch theme animations */
.sun {
    animation: switchThemeSun 0.5s linear;
}
@keyframes switchThemeSun {
    from {
        translate: 11px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}
.moon {
    animation: switchThemeMoon 0.5s linear;
}
@keyframes switchThemeMoon {
    from {
        translate: -11px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

/* blob animation */
.blob {
    animation: orbit 4.5s linear Infinite;
    transform-box: view-box;
    transform-origin: 200px 200px; 
}
@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }   
}

/* link buttons animation */
.link1, .link2, .link3, .link4 {
    animation: linksAnimation 1s linear;
}
.link1 {
    animation-delay: 0.5s;
}
.link2 {
    animation-delay: 1s;
}
.link3 {
    animation-delay: 1.5s;
}
.link4 {
    animation-delay: 2s;
}
@keyframes linksAnimation {
    from {
        translate: -5px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

/* Navbar buttons animation */
.navBtn1, .navBtn2, .navBtn3, .navBtn4, .navBtn5 {
    animation: navButtonsAnimation 0.5s ease-out both;
    will-change: translate, opacity;
}
.navBtn1 {
    animation-delay: 1s;
}
.navBtn2 {
    animation-delay: 1.4s;
}
.navBtn3 {
    animation-delay: 1.8s;
}
.navBtn4 {
    animation-delay: 2.2s;
}
.navBtn5 {
    animation-delay: 2.6s;
}
@keyframes navButtonsAnimation {
    from {
        translate: 50px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}

/* tech stack buttons animation */
.stackBtn {
    animation: stackButtonsAnimation 3s ease-out both;
    will-change: translate, opacity, scale;
}
@keyframes stackButtonsAnimation {
    from {
        translate: -40px 0;
        opacity: 0;
        scale: 0.3;
    }
    to {
        translate: 0 0;
        opacity: 1;
        scale: 1;
    }
}

